*{
    padding: 0;
    margin: 0;
    border-box:none;
}
body{
   
    background-color: rgb(0, 13, 29);
}
#clock{
    width: 600px;
    height: 600px;
    /* border: 8px rgb(72, 255, 0) solid ; */
    background-color: #fefefeba;
    position: relative;
    background-image: url(LCPT.gif);
    background-size: 159.5%;
    background-repeat: no-repeat;
    background-position: -195px -50px;
    top: 140px;
    left: 650px;
    border-radius: 50%;
    box-shadow: 0 0 100px #ffffff, inset 0 0 10px #cbf5ff;
}
#pointer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 289px;
    left: 292px;
    background-color: rgb(165, 244, 255);
    box-shadow: inset 0 0 5px rgb(0, 238, 255), 0 0 5px white;
    z-index: 1;
}
.hour{
    position: absolute;
    font-size: 50px;
    font-weight: 800;
    color: white;
    text-shadow:0 0 10px rgb(0, 242, 255);
}
.hour-1{
    top: 40px;
    right: 150px;
}
.hour-2{
    top: 135px;
    right: 55px;
}
.hour-3{
    top: 275px;
    right: 20px;
}
.hour-4{
    top: 402px;
    right: 65px;
}
.hour-5{
    top: 490px;
    right: 150px;
}
.hour-6{
    bottom: 5px;
    left: 290px;
}
.hour-7{
    top: 490px;
    left: 160px;
}
.hour-8{
    top: 402px;
    left: 65px;
}
.hour-9{
    top: 275px;
    left: 20px;
}
.hour-10{
    top: 145px;
    left: 45px;
}
.hour-11{
    top: 40px;
    left: 150px;
}
.hour-12{
    top: 5px;
    left: 280px;
}
.min-hand-main{
    width: 460px;
    height: 460px;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 70px;
    left: 70px;
    border-radius: 50%;
}
.min-hand{
    position: relative;
}
.min-hand .hand{
    width: 8px;
    height: 233px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 223px;
    box-shadow:0 0 10px #94e8fd;
    border-radius: 50%;
    z-index: -1;
}

.hour-hand-main{
    width: 460px;
    height: 460px;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 70px;
    left: 72px;
    border-radius: 50%;
}
.hour-hand{
    position: relative;
}
.hour-hand .hand{
    width: 10px;
    height: 158px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 225px;
    box-shadow:0 0 10px #94e8fd;
    border-radius: 100%;
    top: 80px;
    z-index: -2;
}

.sec-hand-main{
    width: 420px;
    height: 420px;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 90px;
    left: 90px;
    border-radius: 50%;
}
.sec-hand{
    position: relative;
}
.sec-hand .hand{
    width: 3px;
    height: 202px;
    position: absolute;
    background-color: rgb(0, 242, 255);
    left: 208px;
    box-shadow:0 0 10px #94e8fd;
    z-index: -1;
}